<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <title>{% block title %}{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto' rel='stylesheet' type='text/css'>
        <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% stylesheets
            '@StasmoBirchBundle/Resources/public/css/birch.css'
            '@StasmoBirchBundle/Resources/public/css/lightbox.css'
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block head %}{% endblock %}
    </head>
    <body data-spy="scroll" data-target="#main-navbar" data-offset="50">
        <div id="content" class="container">
            <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div id="nav-container">
                    <ul class="nav navbar-nav nav-justified">
                        <li class="active"><a href="#about">Services</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#quote">Quote</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <div id="home" class="header text-center">
                {% image '@StasmoBirchBundle/Resources/public/images/landing.jpg' %}
                <div id='landing' style="background-image: url('{{ asset_url }}');"/>
                {% endimage %}
            </div>

            <div id="body">
                {% block body %}{% endblock %}
            </div>

            <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
            <script src="https://code.jquery.com/jquery.js"></script>
            {% javascripts
                '@StasmoBirchBundle/Resources/public/js/birch.js'
                '@StasmoBirchBundle/Resources/public/js/lightbox-2.6.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <!-- Include all JavaScripts, compiled by Assetic -->
            <script src="{{ asset('/js/bootstrap.js') }}"></script>
        </div>
    </body>
</html>
